/* --------------------------------------------------------------
MEDIAQUERIES LG/MD - LAYOUTS BIGGER THAN 992px
-------------------------------------------------------------- */
/* --------------------------------------------------------------
MEDIAQUERIES SM - LAYOUTS BIGGER THAN 768px
-------------------------------------------------------------- */
/* --------------------------------------------------------------
MEDIAQUERIES XS - LAYOUTS LESS THAN 767px
-------------------------------------------------------------- */
@media (max-width: 767px) {
  .the-header .navbar-nav {
    margin-top: 15px;
  }
  .the-header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    padding: 0.8rem 0rem;
  }
}
